<h2 id="student-procedures">Student Procedures</h2>
<h3 id="determine-what-version-of-windows-you-are-using">Determine What Version of windows you are using</h3>
<p>On Windows 10 type in system information into the windows search bar. Click on the system information app, and there should be a summary of what architecture you are using (32 bit or 64bit). From here on out, install the appropriate version of software that matches your system.</p>
<h3 id="install-git-shell-adapted-from-cs-109-instructions">Install git shell (adapted from CS 109 instructions)</h3>
<p>Follow this link: https://git-scm.com/downloads. Click install for windows. An exe file will be downloaded. Run it. Accept all defaults. A few defaults that you must be sure to follow:</p>
<p>This makes sure that you get a bash shell to use. <img src="images/git_bash.png" alt="git bash" /></p>
<p>This ensures the proper default line-encoding conversion. <img src="images/git_lines.png" alt="git encoding" /></p>
<p>This uses a better terminal emulator than the one shipped on windows. <img src="images/git_linux.png" alt="git linux" /></p>
<p>If you see this message, just click continue. <img src="images/git_process.png" alt="git process" /></p>
<h3 id="install-make">Install make</h3>
<p>Follow this link: http://gnuwin32.sourceforge.net/packages/make.htm . Click on the setup link under &quot;Complete package, except source&quot;. Another exe file will download, run that. If you folllow all default options, the confirmation page before you install make should look like this.</p>
<div class="figure">
<img src="images/make.png" alt="make installer" />
<p class="caption">make installer</p>
</div>
<p>Note the directory to which <code>make</code> was installed. We now need to add that directory to the System Path in windows. Go to your control panel, and open up the system choices.</p>
<p>This is the depth of navigation you need to go through with the control panel. Now click on Advanced system setup. <img src="images/control_p.png" alt="control panel process" /></p>
<p>You should be taken to the following page. Click on Environmental Variables. Now you need to click on the path variable under System variables and choose to edit it. <img src="images/env_vars.png" alt="env_vars" /></p>
<p>Now a page similar to this should pop up. Add one more path on the bottom. For most people, the path that you should paste is highlighted below. To ensure that this path is correct, search for make.exe on your computer, to determine where it was saved. Save and apply all those settings. <img src="images/path_edit.png" alt="path" /></p>
<h3 id="install-ocaml-and-opam">Install OCaml and opam</h3>
<p>Go to this link: http://protz.github.io/ocaml-installer/ and install the proper version of ocaml for your machine. When running the GUI installer, you have to change one default option, where you uncheck cygwin installation:</p>
<div class="figure">
<img src="images/ocaml_install.png" alt="ocaml install" />
<p class="caption">ocaml install</p>
</div>
<p>The OCaml installer adds to your path automatically, so you don't need to follow the same steps for make. From there, everything should be set up.</p>
<h3 id="testing-to-see-if-things-work">Testing to see if things work:</h3>
<p>If you press the windows key, and then type git bash and run git bash, you should be able to navigate around your file structure using Unix commands like ls, cd, etc.</p>
<p>Run through the rest of the pset. If you run into issues, check Piazza to see if they have been rectified. If not, then post a question of your own, make sure to specifiy the windows_setup folder.</p>
