body {
   background-color: white;
   font-family:  Palatino, Garamond, Times, serif;
   margin: 0;
}

strong {
  color: red;
}


/* Links */

a:link {
    text-decoration: none;
    color: rgb(67, 115, 225);
}
a:visited {
    text-decoration: none;
    color: rgb(50, 50, 255);
}
a:hover {
    text-decoration: underline;
    color: rgb(67, 115, 225);
}
a:active {
    text-decoration: underline;
    color: #FFBC37;
}

.topnav {
  text-align: center;
}

.topnav a {
  font-size: 110%;
}

.topnav a:hover {
  background-color: PowderBlue;
}

#rightframe {
  margin: 0px 20px;
   position: absolute;
   /* left: 180px; */
   top: 0px;
}

/* header */

.header {
   color: #114488;
   text-align: center;
}

.header h2 {
   margin-bottom:0.2em;
   margin-top:0.2em;
   font-size: 18pt;
}

/* Course info */

.courseinfo {
   margin-top: 2em;         
   text-align: center;
   font-size: 12pt;
}

.courseinfo p {
   margin-bottom: 0em;
   margin-top: 0em;
}

/* List style */

.spaceylist li {
  padding: 0 0 5px 0;
}

.spaceylist li li {
  padding: 0 0 3px 0;
}


/* Leftnav */ 

#leftnav {
   position: fixed;
   width: 170px;
   height: 100%;
   margin-right: 15px;
   overflow: hidden;
   border: none;
}

.leftnav {
   background-color: rgb(220,220,210);
   border-right: 2px solid rgb(0, 0, 0);
   height: 100%;
}

.leftnav b {
   margin: 0 5px;
   padding: 0;
}

.leftnav ul {
   margin: 0;
   padding: 0 0 10px 0;
   list-style-type: none;
}

.leftnav li {
   margin: 2px 10px;
   padding: 0;
}

/* Assignments list and general tables */

.assignments {
   text-align: center;
}

table {
   border-collapse:collapse;
   margin: 10px;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}

table, td, th {
   border: 1px solid black;
}


td, th {
   padding:10px;
}

th {
   color: #114488;
}


/* List of links */

.linklist {
   margin-bottom: 10px;
}

/* questions */
.questions li {
   margin-bottom: 10px;
}
