<!DOCTYPE html>
<html>
<head>
<title>CS51 Attendance Assignment </title>
</head>
<body>
<p>Hello {{student.first_name | title}} {{student.last_name | title}},</p>

<p>You have been assigned to the following Code Review meeting: </p>

<p><b>{{student.assignment}}</b></p>
<p><b>Location: </b> {{student.location}}</p>
<p><b>Teaching Fellow: </b> {{student.tf}}</p>
<p><b>Teaching Fellow Email: </b> {{student.tfemail}}</p>

<p> Prof. Shieber would like to remind you that your attendance at Code Review is expected. </p>

<p>If you need to be re-assigned, please fill out the following form.</p>

<a href='https://docs.google.com/forms/d/1SJpMeKscvzWNkjZQrBQQWkQXMxR6x7GpytCgyqJJJXA/viewform'>https://docs.google.com/forms/d/1SJpMeKscvzWNkjZQrBQQWkQXMxR6x7GpytCgyqJJJXA/viewform</a>

<p>This is an automated email. Please do not reply to this email.</p>

<p>Thanks,</p>
CS51 Attendance
</body>
</html>