<!DOCTYPE html>
<html>
<head>
<title>CS51 Attendance Assignment </title>
</head>
<body>
<p>Hello {{student.first_name | title}} {{student.last_name | title}},</p>

<p>You have been re-assigned to the following Code Review meeting: </p>

<p><b>{{student.assignment}}</b></p>
<p><b>Location: </b> {{student.location}}</p>
<p><b>Teaching Fellow: </b> {{student.tf}}</p>
<p><b>Teaching Fellow Email: </b> {{student.tfemail}}</p>

<p> We apologize for the delay in processing your section assignment -- there was an oversight on our end. If you can't attend your assigned section (either because it's already happened or because you made 1 time plans), please email your section TF letting them know about the situation, and then feel free to attend another section if you can. The options are: </p>

<table>
<tr><td>Sundays </td> <td>2-3	</td>       <td>Pierce 100f	</td> <td>	Kevin Zhang</td></tr>
<tr><td>Sundays </td> <td>2-3	</td>       <td>Pierce 209	</td> <td>    Walter Martin</td></tr>
<tr><td>Sundays </td> <td>3-4	</td>       <td>Pierce 100f	</td> <td>	Stefan Rajkovic</td></tr>
<tr><td>Sundays </td> <td>3-4	</td>       <td>Lamont 230	</td> <td>    Diane Yang</td></tr>
<tr><td>Sundays </td> <td>7-8	</td>       <td>Pierce 100f	</td> <td>	Jeff Lee</td></tr>
<tr><td>Monday  </td> <td>12-1</td>      	<td>MD 221	    </td> <td>	Fatma Akcay</td></tr>
<tr><td>Monday  </td> <td>1-2 </td>      	<td>MD 123	    </td> <td>	Kevin Huang</td></tr>
<tr><td>Monday  </td> <td>1-2 </td>      	<td>MD 221	    </td> <td>	Albert Wu</td></tr>
<tr><td>Monday  </td> <td>1-2	</td>       <td>MD 223	    </td> <td>    Elana Simon</td></tr>
<tr><td>Monday  </td> <td>2-3 </td>         <td>Pierce 209	</td> <td>	Victor Domene</td></tr>
<tr><td>Monday  </td> <td>2-3 </td>         <td>MD 123	    </td> <td>	Jessica Zhu</td></tr>
<tr><td>Monday  </td> <td>3-4 </td>         <td>Pierce 209	</td> <td>	Alexander Goldberg</td></tr>
<tr><td>Monday  </td> <td>3-4 </td>         <td>Pierce 320	</td> <td>	Amy Kang</td></tr>
<tr><td>Monday  </td> <td>5-6 </td>         <td>Pierce 100F	</td> <td>	Arianna Benson</td></tr>
<tr><td>Monday  </td> <td>5-6 </td>         <td>Cruft 309	</td> <td>	Zack Chauvin</td></tr>
<tr><td>Monday  </td> <td>7-8 </td>         <td>Pierce 100F	</td> <td>	Gabriela Merz</td></tr>
<tr><td>Tuesday </td> <td>12-1</td>         <td>Pierce 100f	</td> <td>	Emily Houlihan</td></tr>
<tr><td>Tuesday </td> <td>2:30-3:30</td>	<td> Lamont 230	</td> <td>	Ezra Zigmond</td></tr>
<tr><td>Tuesday </td> <td>3-4</td>			<td> Pierce 100F</td> <td>	Sam Green</td></tr>
<tr><td>Tuesday </td> <td>5-6</td>			<td>Pierce 100F	</td> <td>	Grant Hoescht</td></tr>
<tr><td>Tuesday </td> <td>7-8</td>			<td>Pierce 100F	</td> <td>	Timothy Kang</td></tr>
</table>


<p>This is an automated email. Please do not reply to this email. If you have any questions, please email <a href='mailto:cs51heads@gmail.com'>heads</a>.</p>

<p>Thanks,</p>
CS51 Attendance
</body>
</html>