<!DOCTYPE html>
<html>
<head>
<title>CS51 Attendance Assignment </title>
</head>
<body>
<p>Hello {{student.first_name | title}} {{student.last_name | title}},</p>

<p>You have been assigned to the following Lab meeting: </p>

<p><b>{{student.assignment}}</b></p>

<p>This is an automated email. Please do not reply to this email.</p>

<p>If you need to be re-assigned, please fill out the following form.</p>

<a>https://docs.google.com/forms/d/1hRP_VjgMnjPfam_X229T-QXzOZzioYojZDX7eYlyKAU/viewform?usp=send_form</a>

<p>Thanks,</p>
CS51 Attendance